<table class="table table-striped">
  <th>
    <tr>
      <td>Event</td>
      <td>Date</td>
      <td>Description</td>
      <td>
    </tr>
  </th>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event_date event.date %></td>
        <td><%= event.description[0..50] %></td>
        <td><%= link_to "Edit", edit_event_path(event), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>