<div class="page-header">
  <h3> <%= @event.name %> </h3>
</div>
<div>
  <p>Created by: <%= @event.creator.username %></p>
  <p>When: <%= event_date @event.date %></p>
</div>
<div>
  Event details:
  <p> <%= @event.description %> </p>
</div>
<% if can_edit? @event %>
  <div style="margin-top: 15px; !important">
    <%= render partial: 'invites/invite', locals: {event_id: @event.id}%>
  </div>
<% end %>
<br/>
Who is going?
<ul><% @event.attendees.each do |a| %><li><%= link_to a.username, a %></li><% end %><ul>
<br/>
